<img src="https://raw.githubusercontent.com/ITBA-Python/Certificacion-Profesional-Python/main/assets/clase2/Headers%20c%C3%A1talogo_Mesa%20de%20trabajo%201%20copia%2044.jpg" width="800">



# Certificación profesional de Python

# Clase 4

El objetivo de la clase es seguir sumando experiencia de trabajo con programación aprendiendo los siguientes temas.

*   Listas
*   Tuplas
*   Diccionarios

La clase incluye teoría y práctica sobre cada tema aprendido.

<img src="https://raw.githubusercontent.com/ITBA-Python/Certificacion-Profesional-Python/main/assets/clase2/LOGOTIPO_sin_fondo_positivo_sin_bajada.png" width="400">

# Listas y tuplas

## Listas

Las listas son un conjunto ordenado de variables que nos permite almacenar e interactuar tanto individualmente como en el conjunto.

Para crear una lista se sigue el siguiente formato:
```
lista = [variable1, variable2, ... ]
```
Veamos un ejemplo:

In [2]:
# Creo una lista con 8 variables
lista = [0, 1, 2, "tres", 'cuatro', True, False, 0.5]
print(lista)

[0, 1, 2, 'tres', 'cuatro', True, False, 0.5]

### List Comprehension

También podemos crear una lista utilizando un mecanismo que se llama "list comprehension". Este utiliza la estructura for para crear una lista:
```python
lista = [variable for variable in iterable]
```
Veamos un ejemplo:

In [3]:
# Creamos una lista con los valores 0, 1, 2, 3
lista = [x for x in range(0,4)]

print(lista)

# Creamos una lista con los valores 0, 2, 4, 6
lista2 = [2*x for x in range(0,4)]

print(lista2)

[0, 1, 2, 3]
[0, 2, 4, 6]

### Acceso a las varibles

Podemos acceder a las variables utilizando la siguiente estructura:
```
lista[posicion]
```

**NOTA IMPORTANTE:** Las posiciones comienzan desde 0.


Veamos un ejemplo:

In [4]:
# Creamos una lista con los valores 0, 1, 2, 3, 4, 5, 6, 7, 8, 9
lista = [ x for x in range(0, 10)]

print(lista[1])
print(lista[2])

1
2

Podemos interactuar con estas variables como cualquier otra:

In [5]:
# Creamos una lista con los valores 0, 1, 2, 3, 4, 5, 6, 7, 8, 9
lista = [ x for x in range(0, 10)]

print(lista)
print(lista[2])

# Le asignamos el valor a la posición
lista[2] = "Hola"

print(lista)
print(lista[2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
2
[0, 1, 'Hola', 3, 4, 5, 6, 7, 8, 9]
Hola

**Pregunta:**

¿Que imprimirá el siguiente código?

In [2]:
lista = [2*x for x in range(0,3)]

for x in range(0,3):
    print(lista[x])
    #va a imprimir la lista de 0 1 2 multiplicada por 2 dividida en distintas secciones

0
2
4

### Operaciones con listas

Al igual que con las strings, podemos realizar operaciones sobre las listas.

Por ejemplo sumar dos listas:

In [7]:
a = [1, 2]
b = [3, 4]
c = a + b
print(c)

[1, 2, 3, 4]

También podemos verificar si un elemento se encuentra en la lista:

In [8]:
a = [1,2,3,4,5]

print(5 in a)
print(9 in a)

True
False

### Funciones de listas

Al igual que los strings las listas tienen funciones dentro de ellas que podemos utilizar de la siguiente manera:
```
lista.funcion(parametros)
```
Podemos encontrar una lista de estas funciones [aca](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists).

Veamos un ejemplo:

In [3]:
# Creamos una lista con los valores 0, 1, 2, 3
lista = [x for x in range(4)]

print(lista)

# Damos vuelta la lista
lista.reverse()

# PREGUNTA: Que va a imprimir la siguiente función?
print(lista)

[0, 1, 2, 3]
[3, 2, 1, 0]

También podemos agregar o quitar valores de las listas:

In [4]:
lista = [0, 1]

print(lista)

# Agregamos el valor 10 al final de la lista
lista.append(10)
# Agregamos el valor 1 al final de la lista
lista.append(1)
print(lista)

# Sacamos la primera ocurrencia del valor 1
lista.remove(1)
print(lista)
# Sacamos la otra
lista.remove(1)
print(lista)

[0, 1]
[0, 1, 10, 1]
[0, 10, 1]
[0, 10]

### Mini Desafio 1


Utilizando list comprehension, multiplicar cada variable por un número ingresado por el usuario de la siguiente lista:
```
lista = [1, 3, 5, 7, 13, 17]
```
Por ejemplo:
```
>>> 0
[0, 0, 0, 0, 0, 0]
```

In [16]:
lista = [1, 3, 5, 7, 13, 17]
numero = int(input("ingrese un numero virgo: "))
resultado = [numero*x for x in lista]
print(resultado)

ingrese un numero virgo: 2
[2, 6, 10, 14, 26, 34]

### Mini Desafio 2

Imprimir de la lista las siguientes cosas:


*   La primera mitad de la lista
*   La lista ordenada de menor a mayor
*   La lista ordenada de mayor a menor
*   La segunda mitad de la lista ordenada de mayor a menor

La lista es la siguiente:
```python
lista = [14, 3, 6, 27]
```
La respuesta esperada es:
```python
[14, 3]
[3, 6, 14, 27]
[27, 14, 6, 3]
[6, 3]
```
**TIP**: Ver en las funciones incluidas en las listas.

In [31]:
lista = [14, 3, 6, 27]
print (lista[0:2])
sorted (lista)
print(lista)
lista2= sorted (lista, reverse= True)
print(lista2)
print(lista2[2:4])

[14, 3]
[14, 3, 6, 27]
[27, 14, 6, 3]
[6, 3]

### Mini Desafío 3


Imprimir una lista en orden inverso sin utilizar la función reverse.

Ejemplo:
```
lista = [1, 2, "tres"]
```
Salida:
```
"tres"
2
1
```

In [43]:
# Lista inicial
lista = [1, 2, "tres"]

# Imprimir la lista en orden inverso
for elemento in lista[::-1]:
    print(elemento)

tres
2
1

## Tuplas

Las tuplas son muy similares a las listas pero sus variables no pueden ser modificadas.

Se crean siguiendo la siguiente estructura:
```
tupla = (variable1, variable2, ...)
```

Veamos un ejemplo:

In [44]:
tupla = (1, 2, "hola")

print(tupla)

(1, 2, 'hola')

Al igual que las listas podemos generarlas utilizando la estructura for, pero debemos indicarle con la palabra `tuple`:

In [45]:
# Creamos una tupla con el cuadrado de los números pares de 0 a 10
tupla = tuple(x ** 2 for x in range(0, 10, 2))

print(tupla)

(0, 4, 16, 36, 64)

### Acceso a las variables


Podemos acceder a las variables pero no modificarlas utilizando la misma estructura que las listas.

```
tupla[posicion]
```

Veamos un ejemplo:

In [46]:
tupla = tuple(x ** 2 for x in range(0, 10, 2))

print(tupla[3])

36

Pero si intentamos modificar:

In [48]:
tupla[3] = 25

TypeError: 'tuple' object does not support item assignment

### Mini Desafío 4


A partir de una tupla que contenga los valores de 0 al 100, generar otra tupla que contenga unicamente los valores pares.

**TIP**: `for x in tupla` itera sobre cada valor de la tupla.

In [58]:
tupla =tuple(x for x in range(0,101))
print(tupla)
tupla2 = tuple (x for x in tupla if x % 2 == 0)
print(tupla2)
#me perdi

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100)
(0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100)

In [59]:
filtrar_pares = lambda numeros: tuple(filter(lambda x: x % 2 == 0, numeros))
tupla = tuple(range(0, 101))
resultado = filtrar_pares(tupla)

print(resultado)

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100)

# Diccionarios

Los diccionarios son una estructura que permite guardar valores asociados a una llave o key. Es decir, guarda un par key,valor y nos permite acceder a ellos por esta llave.

La estructura es la siguiente:
```python
{
    llave: valor,
    llave2: valor2,
    ...
}
```
Veamos un ejemplo:

In [ ]:
# Generamos un diccionario donde la llave es un pais y el valor su población
diccionario = {
    "Argentina": 45300000,
    "Inglaterra": 55600000,
    "Italia": 59550000,
    "Chile": 19200000
}

### Acceso a las variables

El acceso a las variables es igual que las tuplas y las listas, solo que en vez de la posición se utiliza la llave:
```
diccionario[llave]
```
Veamos un ejemplo:

In [62]:
# Generamos un diccionario donde la llave es un pais y el valor su población
diccionario = {
    "Argentina": 45300000,
    "Inglaterra": 55600000,
    "Italia": 59550000,
    "Chile": 19200000
}

# Obtenemos el valor en la llave argentina
poblacion = diccionario['Argentina']
culos_cagados = diccionario ['Chile']

print("La población de Argentina es", poblacion)
print("la cantidad de culos cagados en chile es:", culos_cagados)

La población de Argentina es 45300000
la cantidad de culos cagados en chile es: 19200000

Al igual que las listas las variables son modificables.

In [63]:
diccionario = {
    1: 2,
    2: 3,
    3: 4,
}
# Vemos que tiene la llave 3
print(diccionario[3])

# Sumamos uno a la llave 3
diccionario[3] += 1

print(diccionario[3])

4
5

También podemos agregar llaves en el código:

In [64]:
diccionario = {
    1: 2, # llave 1: valor 2
    2: 3,# llave 2: valor 3
    3: 4,# llave 3: valor 4
}

print(diccionario)

# Agregamos la llave hola con el siguiente valor
diccionario['hola'] = 'Soy la nueva llave'

print(diccionario)

{1: 2, 2: 3, 3: 4}
{1: 2, 2: 3, 3: 4, 'hola': 'Soy la nueva llave'}

### Funciones


Al igual que las otras estructuras los diccionarios tienen funciones dentro de ellos. Podemos leer sobre ellas en el siguiente [link](https://docs.python.org/3/library/stdtypes.html#dict).

Veamos algunos ejemplos:

In [65]:
# Generamos un diccionario donde la llave es un pais y el valor su población
diccionario = {
    "Argentina": 45300000,
    "Inglaterra": 55600000,
    "Italia": 59550000,
    "Chile": 19200000
}

# Vemos las llaves del diccionario
print(diccionario.keys())

# Vemos los valores del diccionario
print(diccionario.values())

# Vemos los elementos del diccionario
print(diccionario.items())

dict_keys(['Argentina', 'Inglaterra', 'Italia', 'Chile'])
dict_values([45300000, 55600000, 59550000, 19200000])
dict_items([('Argentina', 45300000), ('Inglaterra', 55600000), ('Italia', 59550000), ('Chile', 19200000)])

## Mini desafío 5

Escribir una función que una dos diccionarios. Si la key está repetida, tomar el valor del primer diccionario.

Esta operación no debe modificar los diccionarios dados como parámetro.

Ejemplo:
```python
a = {
   'a': 1,
   'b': 2,
   'c': 3,
   'd': 4,
}
b = {
   'c': 5,
   'd': 6,
   'e': 7,
}

c = unir_diccionarios(a,b)
print(c)
```
Debe dar el resultado:
```python
{'a':1,'b':2,'c':3,'d':4,'e':7}
```

In [75]:
a = {
   'a': 1,
   'b': 2,
   'c': 3,
   'd': 4,
}
b = {
   'c': 5,
   'd': 6,
   'e': 7,
}

c = a.copy()
c.update(b)
print(c)

{'a': 1, 'b': 2, 'c': 5, 'd': 6, 'e': 7}

### Mini desafío 6

Reescribir el Mini Desafío 2 de la clase 2 utilizando diccionarios.

# Ejercicios Integradores

## 1. Calculadora 4.0


Reescribir la calculadora pero utilizando el diccionario para almacenar las funciones de cada cuenta.

**TIP:** Se puede almacenar una función en una variable y utilizarla.

Ejemplo:

In [ ]:
def suma(a, b):
    return a+b

diccionario = {
    '+': suma
}
print(diccionario['+'](1,2))

In [ ]:
# Realizar el ejercicio aca

## 2. Cantidad de elementos de llaves de un diccionario

Devolver la cantidad total de llaves de un diccionario, incluyendo si tiene otros diccionarios dentro de el.

Ejemplo:
```python
diccionario = {
    'a': {'b':1, 'c':2},
    'b': 3,
    'c': 4,
}
print(contar_keys(diccionario))
```
Debe devolver 5.

**TIP:** Con la función `isinstance`se puede verificar si un valor es un diccionario o un int.

## 3. Fibonacci 2.0

Realizar una función que devuelva la secuencia de fibonacci hasta la posición `n`.

Ejemplo:
```
>>> 4
[0, 1, 1, 2, 3]
```
```
>>> 6
[0, 1, 1, 2, 3, 5, 8]
```

## 4. Input de estructuras

Escribir un programa que te deje ingresar el texto de una lista o tupla (que contenga solo números) y lo convierta al objeto en python.

Ejemplo:
```
>>> [1,2,3,4]
[1,2,3,4]
```
```
>>> (4,5,6)
(4,5,6)
```
**NOTA:** No se vale hacer print del input, hay que convertir al objeto.

**NOTA 2:** Investigar la función split y replace de strings.